body {
     box-sizing: border-box;
     text-decoration: none;
     margin: 10px;
}

.App_Header {
text-align: center;
background-color: black;
color: white;
}

.Home_Logo_Container {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.Login_SignUp_Corner_Container {
     width: auto;
     max-height: 10%;
     display: flex;
     flex-direction: column;
}

.Corner_Avatar {
     height: 50px;
     width: 50px;
     border-radius: 50%;
}

.Home_Logo {
     width: 50%;
     height: 50%;
     border-radius: 50%;
}

.Footer_List {
     display: flex;
     flex-direction: row;
     list-style-type: none;
     justify-content: flex-end;
     background-color: black;
     color: white;
}

.Footer_Item {
     margin: 5px;
}

.Chorum_Search {
     display: flex;
     flex-direction: column;
}

.Search_Form {
     display: inline-block;
     text-align: center;
     width: 100%;
     padding: 10px;
     margin: auto;
}

.Search_Input {
     width: 70%;
     margin: 10px;
}

label {
     margin: 10px;
}

.Search_Submit {
     width: 20%;
     margin: 10px;
}

/* .Featured-Song-Container {
     background-image: url('./Images/language.jpg');
     background-position: center;
}

.Featured-Song-Container, .Featured-Artist-Container, .Featured-Album-Container  {
     display: inline-flex;
     flex-direction: column;
     width: 100%;
     text-align: center;
     height: 40%;
     color: white;
}

.Featured-Artist-Container {
     background-image: url('./Images/svddendeath.jpg');
     background-position: center;
}

.Featured-Album-Container {
     background-image: url('./Images/towers.jpg');
     background-position: center;
} */