* {
  box-sizing: border-box;
}

body {
  text-decoration: none;
  margin: 10px;
  font-family: "Roboto", sans-serif;
  background-image: url(./Images/rebel.png);
  background-size: cover;
  background-position: center;
}

Link {
  text-decoration: none;
}

.Form {
  display: flex;
  flex-direction: column;
}

.App_Header_Link {
  margin: 10px auto;
  color: black;
  text-decoration: none;
  font-size: 50px;
  font-family: "Rock Salt", cursive;
  width: 90%;
}

.App_Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(187, 0, 0, 0.7);
  max-height: 20%;
  width: 100%;
  border-radius: 5px;
}

.Header_Item {
  text-decoration: none;
  font-size: 40px;
  width: 90%;
  margin: 10px;
  color: black;
}

.Header_Item:visited {
  color: black;
}

.Header_Sub_Item {
  text-decoration: none;
  margin: 10px;
  font-size: 30px;
  color: black;
}

.Header_Sub_Item:visited {
  color: black;
}

.Header_Non_Logged_In,
.Header_Logged_In {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  height: fit-content;
  padding: 5px;
  margin: 10px;
  background-color: rgb(159, 0, 0);
  border-radius: 5px;
}

.Home_Logo_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.Home_Logo {
  width: 50%;
  height: 50%;
  max-width: 500px;
  border-radius: 50%;
  margin: 10px;
}

.App_Footer {
  background-color: rgb(187, 0, 0, 0.7);
  border-radius: 5px;
}

.Footer_List {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  color: black;
  padding: 0;
  margin: 5px;
}

.Footer_Item {
  margin: 5px;
  text-decoration: none;
  color: black;
}

.Footer_Item:hover {
  color: rgb(255, 255, 255);
}

.Footer_Item:visited {
  color: black;
}

.Edit_Form_Container {
  display: flex;
  flex-direction: column;
  background-color: rgba(225, 225, 225, 0.8);
  border-radius: 5px;
  margin-top: 5px;
}

.Chorum_Edit_Form {
  display: flex;
  flex-direction: column;
  background-color: rgba(225, 225, 225, 0.8);
  border-radius: 5px;
}

.SignUp_Form_Container {
  display: flex;
  flex-direction: column;
  background-color: rgba(225, 225, 225, 0.8);
  border-radius: 5px;
  margin-top: 5px;
}

.SignUp_Form {
  display: flex;
  flex-direction: column;
  background-color: rgba(225, 225, 225, 0.8);
  border-radius: 5px;
}

.Chorum_Search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Search_Form {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 10px;
  margin: auto;
}

.Search_Input {
  width: 70%;
  margin: 10px;
}

label {
  margin: 5px;
}

input {
  margin: 5px;
}

h1,
h3 {
  margin: 0;
}

textarea {
  margin: 5px;
}

Button {
  margin: 10px 5px;
}

legend {
  background-color: rgba(225, 225, 225, 0.8);
  border-radius: 5px;
}

.Artist_Roster_Filter {
  display: flex;
  flex-direction: column;
  background-color: rgba(225, 225, 225, 0.8);
  border-radius: 5px;
  margin: 10px auto;
  justify-content: center;
  width: 80%;
}

.Artist_Roster_Filter > label {
  text-align: center;
  font-size: 20px;
}

.Artist_Roster_Filter > Input {
  width: 80%;
  margin: 5px auto;
}

.Artist_Roster_Item {
  text-decoration: none;
}

.Artist_Roster_Item_Container {
  display: flex;
  background-color: rgba(225, 225, 225, 0.8);
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: left;
}

.Artist_Roster_Item:visited {
  color: black;
}

.Artist_Roster_Name_Heading {
  font-weight: 500;
  margin: 10px;
  color: black;
}

.Artist_Roster_Location_Heading {
  margin: 10px;
  font-weight: 300;
  color: black;
}

.Artist_Profile_Container {
  background-color: rgba(225, 225, 225, 0.8);
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

.About_The_App {
  background-color: rgba(225, 225, 225, 0.8);
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
}

.ATA_Header {
  font-size: 25px;
}

.Login_Form_Container {
  display: flex;
  flex-direction: column;
  background-color: rgba(225, 225, 225, 0.8);
  border-radius: 5px;
  margin-top: 5px;
}

.Login_Form {
  display: flex;
  flex-direction: column;
  background-color: rgba(225, 225, 225, 0.8);
  border-radius: 5px;
}

.Privacy_Container,
.Copyright_Container,
.Terms_Of_Use_Container,
.Secondary_Logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
}

.Secondary_Logo {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  margin: 10px auto;
}

.Privacy_Section,
.Copyright_Section,
.Terms_Of_Use_Section {
  background-color: rgba(225, 225, 225, 0.8);
  border-radius: 5px;
  padding: 10px;
}

.Privacy_Header,
.Copyright_Header,
.Terms_Of_Use_Header {
  text-align: center;
}

.Artist_Name,
.Artist_Headline {
  text-align: center;
}

.Artist_About {
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.Red_Alert {
  color: red;
}

.Secondary_Navbar {
  display: none;
}

.Artist_Roster_Photo {
  width: 30%;
}

@media only screen and (min-width: 700px) {
  .App_Header {
    flex-direction: row;
    justify-content: space-between;
  }

  .App_Header_Link {
    margin: 10%;
  }

  .Header_Non_Logged_In,
  .Header_Logged_In {
    width: 50%;
  }

  .Secondary_Navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(187, 0, 0, 0.7);
    max-height: 20%;
    border-radius: 5px;
    margin: 10px auto;
    padding: 5px;
  }

  .Secondary_Navbar_Link {
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
    color: black;
  }

  .Header_Item {
    display: none;
  }

  .Browse_List_Page {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .Artist_Roster_Item_Container {
    display: flex;
    flex-direction: column;

    width: 20%;
    margin: 5px;
  }

  .Artist_Roster_Photo {
    width: 100%;
  }

  .Meet-The-Team-Text,
  .About-Text {
    display: flex;
    flex-direction: column;
    background-color: rgba(225, 225, 225, 0.8);
    border-radius: 5px;
    margin-top: 5px;
    text-align: center;
  }
}
